
*{
    padding: 0;
    margin: 0;
}
.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.head{
   background-image: url(../images/developer.png), url(../images/header_bg.png);
   background-repeat: no-repeat;
   background-position: top left, bottom right ;
}
/* text-colour */
.dark-2{
color:#474747 ;

}

/* button color */
.btn-first{
    background-color: #FD6E0A;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}


/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 120px;
}
.nav-title{
 font-weight: 800;
 font-size: 65px;
}
.span-title{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
}
nav li a{
    text-decoration: none;
    
}
/* banner section */
.main-banner{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 120px;
}
.banner-text{
    width: 585px;
    height: 356px;
    margin-top: 130px;
}

.banner-text h4{
    font-weight:500;
    font-size: 45px;
}

.banner-text h1{
    font-weight: bold;
    font-size: 85px;
}
.banner-text p{
font-size: 20px;
}
.banner-image img{
    width: 520px;
}
.btn-margin{
    margin-left: 25px;
    background-color: aliceblue;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;

}



/* about section */
main{
    max-width: 1040px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
}
main section{
    margin-top: 150px;
}
.about{
    
    
    background-color: #FFF8F3;
    padding: 120px 150px;
    text-align: center;
    justify-content: center;
    margin-top: 150px;
    
}
.abuot-head{
    font-weight: bold;
    font-size: 35px;
}
.sec-font{
    font-size: 18px;
    margin-top: 15px
}
.item-title{
font-size: 18px;
}
.item-dis{
    font-weight: bold;
}
.all-items{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
/* my work */
.work-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    text-align: center;
}
.work-contain{
    color: #757575;
    font-size: 18px;
    text-align: center;
    padding: 20px;

}
/* work skills */
.work-skills{
    display: flex;
    margin-top: 20px;
    gap: 15px;
    
}
.skills{
    padding: 30px;
    box-shadow: 0px 6px 10px #000000;
    width: 267px;
    height: 300px;
    
}
.skills p{
    color: #757575;
    padding-top: 10px;
}
.skills-padding{
    padding-top: 30px;
}


/* resume styels */
.resume-title{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.resume-contain{
    display: flex;
    margin-top: 50px;
    gap: 15px;
} 
.collams-heading{
    font-weight: bold;
    font-size: 30px;
    color: #474747;
}
.collam-item{
    margin-top: 30px;
    margin-bottom: 20px;
}
.item-title{
    font-weight: bold;
    font-size: 25px;
    color: #474747;
}
.title-description{
    font-weight: 600 ;
    font-size: 20px;
    color: #757575;
    margin: 10px 0 20px 0;
}
.discription{
    font-size: 16px;
    color: #757575;
}
.resume-btn{
    text-align: center;
}
/* footer section */
.bg-footer{
    background-color: #FFF8F3;
    display: flex;
    padding: 150px 200px;
    gap: 100px;
    justify-content: space-between;
}
.footer-colum{
    width: 50%;
}
.footer-title{
    font-weight: bold;
    font-size: 30px;
    color: #181818;
    margin-bottom: 30px;
}
.footer-description{
    font-size: 13px;
    color:#474747 ;
    margin-bottom: 40px;
}
footer input[type="text"], input[type="email"], textarea{
    display: block;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
}

/* responsive */

.hide{
    display: none;
}

@media screen and (max-width:576px) {
.work-skills{
    flex-direction: column;
}
.skills{
    width: 87%;
}
    
}

/* resume */

@media screen and (max-width:576px) {
    .resume-contain{
        flex-direction: column;
        padding: 5px;
    }
    .bg-footer{
        flex-direction: column;
        padding: 5px;
    }
    .footer-colum{
        width: calc(100% - 5px);
    }
    footer input[type="text"], input[type="email"], textarea{
        width: calc(100% - 40px);
    }
    .btn{
        margin-left: 40%;
    }

    .about{
        padding: 20px;
    }
    .all-items{
        flex-direction: column;
        
    }

    .item{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:576px) {
    .head{
        background-image: none;
    }
    .banner-text{
        width: 100%;
        height: auto;
    }
    .main-banner{
        flex-direction: column;
        margin: auto;
    }
    .banner-image img{
        width: 100%;

    }

    .main-banner button{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    /* nav rresponcive */
    nav{
        flex-direction: column;
        margin: auto;
    }
    nav ul{
        flex-direction: column;
        margin: auto;
    }
    
     nav ul li{
        margin: auto;
     }
    
    
}